.footer {
    width: 1440px;
    background-color: rgb(207, 206, 206);
    position: absolute;
    bottom: 0%;
    right: 0%;
    height: 75px;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
}